@use "../../../styles/breakpoints" as b;

.list-item {
  display: grid;
  grid-template-columns: 30% 60%;
  margin-top: 1rem;
  gap: 2rem;

  &__title {
    color: var(--gray-400);
    font-weight: 500;
  }

  &__text {
    font-weight: 500;
    word-wrap: break-word;
  }

  @include b.responsive(b.$desktop) {
    gap: unset;
  }
}