@use "../../styles/breakpoints" as b;

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  &__img {
    display: none;
  }

  @include b.responsive(b.$desktop) {
    padding-left: 6rem;
    justify-content: start;

    &__img {
      display: block;
      object-fit: cover;
      position: fixed;
      right: 0;
    }
  }
}