@use "../../../styles/breakpoints" as b;

.button {
  min-width: 8rem;
  border: none;
  border-radius: var(--border-radius-medium);
  padding: 1rem;
  font-weight: 700;
  color: var(--white);
  background-color: var(--green-500);

  &:hover {
    transition: 250ms;
    filter: brightness(0.8);
  }

  @include b.responsive(b.$desktop) {
    font-size: 1.25rem;
  }
}